.AddContactComponent {
    margin-top: -50px;
    float: right;
    width: fit-content;
}

.Centering {
    margin: 10px auto;
}

@media (max-width: 600px) {

    .AddContactComponent {
        position: absolute;
        margin-left: 300px;
        margin-top: 50px auto;
        text-align: center;
        width: fit-content;
    }
    
    .Centering {
        margin: 10px auto;
        position: absolute;
    }

}