.ContactsPage {
    display: grid;
    grid-area: auto;
    grid-template-columns: auto auto auto;
}

@media (max-width: 1000px) {

    .ContactsPage {
        margin: 10px auto;
        display: grid;
        grid-area: auto;
        grid-template-columns: auto auto;
    }
}


@media (max-width: 600px) {

    .ContactsPage {
        margin: 20px auto;
        width: 80%;
        display: grid;
        grid-area: auto;
        grid-template-columns: auto;
    }

}