.SearchBar {
    margin-top: 20px;
    margin-right: 30px;
    padding: 20px;
    text-align: right;
}

.SearchBar h1 {
    padding-top: 10px;
    font-size: 40px;
    width: fit-content;
}


@media (max-width: 600px) {

    .SearchBar {
        margin-top: 20px;
        margin-right: 30px;
        text-align: center;
    }
    
    .SearchBar h1 {
        text-align: center;
        margin: 30px auto;
        padding-top: 10px;
        font-size: 40px;
        width: fit-content;
    }

}